<p>Hi Sam</p>
<p>Thanks for your order! You ordered <%= pluralize @number_of_items, 'item' %>.</p>
<p>We hope you enjoy your order and that we see you again soon on MUSTRD.com</p>
<p>Sincerely</p>
<p>The MUSTRD team</p>