// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-price, .total_line {
	text-align: right;
}

.total_line .total-cell {
	font-weight: bold;
	border-top: 1px solid #595;
}
